.filter{
    width: 260px;
    position: absolute;
    left: 60px;
    top: 150px;
}



.filtertitle{
    font-weight:400;
    font-size: 20px;
    line-height: 10px;
    color: #D1A085;
    text-align: center;
    font-family: 'Open Sans';
}

.filtertitle2{
    font-weight:400;
    font-size: 20px;
    line-height: 10px;
    color: #D1A085;
    
    font-family: 'Open Sans';
}

.filterca{
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 28px;
    font-weight:400;
}
.blank{
    padding:30px;
}
.productfound{
    width: 1000px;
    position: absolute;
    right:60px;
    top: 150px;
    text-align: left;
}

.product{
    width: 1000px;
    position: absolute;
    right:60px;
    top: 220px;
    display: flex; 
    justify-content: space-between;
}

.item{
    background: rgba(234, 234, 234, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    width: 300px;
    height: 600px;
    margin: 10px;
}

.itemtitle{
    line-height: 10px;
    font-weight:400;
    font-size: 18px;
    font-family: 'Open Sans';
    color: #414141;
}

.itemprice{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans';
    color: #6A6A6A;
}

.itemlist{
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.image-box{
    position: absolute;
    left:350px;
    top: 200px;
    z-index: 1;
    border: 10px solid #466995;
    text-align: center;
    width: 300px;
    height:300px
}

.roundedrec2{
    letter-spacing:1px;
    background-color: #997560;
    padding-top: 12px;
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 15px;
  }

.counter{
    display: flex;
    justify-content: space-between;
}

.rec1{
    position: absolute;
    width: 544px;
    height: 650px;
    right: 50px;
    top: 160px;
    z-index: 10;

    background: rgba(234, 234, 234, 0.1);
    border: 5px solid #8A5A3B;
    box-sizing: border-box;
}

.title{
    position: absolute;
    width: 409px;
    height: 62px;
    left: 20px;
    top: 20px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
   
    color: #000000;
}

.detail{
    position: absolute;
    width: 466px;
    height: 108px;
    left: 20px;
    top: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.selection{
    position: absolute;
    left: 20px;
    top: 340px;
}

.option{
    z-index: 10;
    position: absolute;
    left: 20px;
    top: 270px;
    border-radius: 6px;
    width: 200px;
    height: 40px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.arrow{
    z-index: 1;
    position: absolute;
    left: 170px;
    top: 10px;
}
.option select{
    border: none;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    outline: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 20px;
}   

.option:after{
    content: "";
    height: 100px;
    background: url(arrow.png) no-repeat center;
    position: absolute;
    right: 20px;
    top: 41%;
    pointer-events: none;
  }


.flavors{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.flavor{
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 35px;
}

.price{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.check{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 200px;
    right: 50px;
    top: 450px;
}

.lineTop{
    width: 200px;
    border-top: 1px solid #8A5A3B;
}